<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Page </title>
</head>
<body>
  <h1>{{title}} Page </h1>
  <p>This is some text</p>
</body>
<footer>
Copywright {{year}}
</footer>
</html>
